[submodule "object_SLAM"]
	path = src/object_SLAM
	url = git@github.com:UMich-CURLY/ASV-Object-SLAM.git
[submodule "mapping/EndToEnd/torchsparse"]
	path = src/mapping/EndToEnd/torchsparse
	url = git@github.com:mit-han-lab/torchsparse.git
