.vscode/

build/
log/
install/

**/__pycache__/
*.egg-info/

# large checkpoints / weights
src/mapping/EndToEnd/Segmentation/gdino_checkpoints/*.pth
src/mapping/EndToEnd/Segmentation/checkpoints/*.pt
src/models/
*.pth
*.pt